$margenSite:1rem;

@mixin hoverBotao{
    &:hover{
        background-color: (0, 0, 0, 0.527)}
}

@mixin fonteTitulosPrincipais{
    font-size:3rem;
    font-weight:500;
    text-transform:uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 1.5px;
}
@mixin subtitulos{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}
@mixin fonteBotoes{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
@mixin estiloBotao{
    background-color: #d4af37;
    color: #fff;
    font-weight: 600;
    border: none;
    transition: all 0.3s ease;
    padding:1rem 1rem;
    width:100%;
    font-size:1rem;
    cursor:pointer;
    transition:all 0.3s ease-in-out;
    border-radius:0.5rem;
    border:none;
    box-shadow: 0px 0px 10px black;
    &:hover{
        opacity: 0.5;
    }
}